<div class="wrapper" *ngIf="!beers && hasError" class="no-connection">
  <md-card>
    <div class="picture-wrapper">
      <img src="../../../assets/images/no-beer.png">
    </div>
    <md-card-content>
      <p>If you are offline viewing, you'll need to visit this page with a network connection first before it can work offline.</p>
    </md-card-content>
  </md-card>
</div>

<div class="wrapper" *ngIf="beers && !loading" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <div fxFlex.gt-sm="33" fxFlex.gt-md="25" fxFlex="100" *ngFor="let beer of beers">
    <md-card>
      <div class="picture-wrapper">
        <img class="beers-image" md-card-image src="{{beer['image_url']}}">
      </div>
      <md-card-content>
        <p>
          {{beer['brewers_tips']}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
<md-progress-spinner mode="indeterminate" *ngIf="loading" class="center-spinner center-screen"></md-progress-spinner>
