<div class="no-connection">
  <app-no-internet *ngIf="!(cats | async) && !internetConnection"></app-no-internet>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
    <div class="cats-group" fxFlex.gt-sm="33" fxFlex.gt-md="25" fxFlex="100" *ngFor="let cat of cats | async">
      <md-card>
        <div class="picture-wrapper">
          <img md-card-image src="{{cat.thumbnailUrl}}">
        </div>
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
