html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.loading::before,
.loading::after {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading::before {
  content: '';
  background-color: #fff;
}
.loading::after {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  content: 'LOADING';
  text-align: center;
  white-space: pre;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.04rem;
  color: #000;
  opacity: 0.8;
  animation: animation 1s alternate infinite;
}
@keyframes animation {
  to { opacity: 0.2; }
}
/*
 Spinner styles
 */
.center-spinner {
  margin: 0 auto;
  &.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
  }

}
/* $main-panel
 ------------------------------------------*/
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - #{$mat-toolbar-height-desktop});
  display: flex;
  flex-direction: row;
}
@media ('max-width: 600px') and (orientation: portrait) {
  .app-inner {
    height: calc(100vh - #{$mat-toolbar-height-mobile-portrait});
  }
}
@media ('max-width: 960px') and (orientation: landscape) {
  .app-inner {
    height: calc(100vh - #{$mat-toolbar-height-mobile-landscape});
  }
}
md-sidenav.sidenav-panel {
  overflow-x: hidden;
  width: 15rem;
  background-color: #f5f5f5 !important;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12) !important;
  z-index: 2000;
  .mat-sidenav-focus-trap > .cdk-focus-trap-content {
    position: relative;
  }
  > nav {
    min-width: 15rem;
  }
}
md-card {
  .picture-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .beers-image {
      height: 200px;
      width: auto;
    }
    .nasa-image{
      height: 250px;
      width: auto;
    }
  }
}
.no-connection {
  margin-top: 120px;
  text-align: center;
  .picture-wrapper img{
    height: 200px;
    width: auto;
  }
}
md-card {
  padding: 0;
  margin: .33333rem;
  border-radius: 2px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  color: rgba(0,0,0,.87);
  background: #fff;
}
.wrapper{
  background: white!important;
}
