<div class="no-connection">
  <app-no-internet *ngIf="!pictureOfTheDay && hasError"></app-no-internet>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <md2-datepicker
    (change)="onSelectDate($event)"
    [isOpen]="true">
  </md2-datepicker>
</div>
<div *ngIf="pictureOfTheDay" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <div fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
    <md-card>
      <div class="picture-wrapper">
        <img md-card-image src="{{pictureOfTheDay['url']}}">
      </div>
      <md-card-content>
        <p>
          {{pictureOfTheDay['explanation']}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
